<div class="row">
 <p><%= @users_count %> users, <%= @users_with_books.count %> loan a book.</p>
  <p> <%= @books %> books in the library, <%= @books_availables %> availables and <%= @books_borrowed %> borrowed.</p>
</div>
